* {
    font-family: sans-serif;
}

.app {
  text-align: center;
}

.light-yellow {
    background-color: #f8de25;
    color: #f1232f;
}

.dark-yellow {
    background-color: #e5c13d;
    color: white;
}