.header {
    background-color: #2c323c;
    background-image: url(../../assets/images/geometry.svg);
    background-repeat: repeat;
    color: white;
    padding: 180px 20px;
    padding-bottom: 140px;
    min-height: 400px;
  }

.header h1{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.header h2{
    font-size: 1.5rem;
    font-weight: bold;
}

.title {
  font-size: 1.5em;
}

.intro {
  font-size: large;
}