.navbar {
    position: fixed;
    min-height: 70px;
    width: 100%;
    text-align: center;
    font-size: calc(10px + 14 * (100vw - 320px)/ 800);
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    white-space: nowrap;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.navbar div {
    display: inline-block;
    padding: 26px 0;
    width: 32%;
    text-align: center;
    font-weight: bold;
}

.burger-image {
    background-image: url('../../assets/images/burger.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 70px;
    width: 32%;
}